h1 {
  color: rgb(0, 89, 255);
  padding: 35px;
  text-align: center;
  font-size: 60px;
  font-family: "Times New Roman", Times, serif;
}
.Menu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 30px 160px;
  text-decoration: none;
  /* background-color: aqua; */
  font-weight: bold;
  font-size: 26px;
}
.Menu a:hover {
  background-color: #ddd;
  color: black;
}
h2 {
  color: green;
  padding: 15px;
  text-align: center;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}
body {
  background-image: url("/img/nen2.jpg");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
#uname,
#psw{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #d14949;
  box-sizing: border-box;
}

button {
  padding: 10px 15px;
  margin: 5px 0;
  width: 30%;
}

button:hover {
  opacity: 0.8
}




